<div class="form-check">
  <input
    type="checkbox"
    class="form-check-input"
    checked={{item.isCompleted}}
    onclick={{action (mut item.isCompleted) value="target.checked"}}>
    {{#unless showEditInput}}
      <label
        class="form-check-label {{if item.isCompleted "checked" "unChecked"}}"
        ondblclick={{action "toggleTodo"}}
        for="defaultCheck1">
        {{item.content}}
      </label>
    {{/unless}}
</div>
  {{#if showEditInput}}
    <label>
      <input
        type="text"
        class="edit-input"
        value={{item.content}}
        onkeydown={{action "doneEditing"}}
        autofocus
      >
    </label>
  {{/if}}
